@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-black: 0, 0, 0;
  --base-white: 255, 255, 255;
  --background: 28, 21, 21;
  --foreground: 73, 12, 31;
  --accent: 254, 173, 0;
  --border-light: 114, 112, 112;
  --border-dark: 97, 95, 95;

  /* new colors */
  --sage-green: 138, 163, 153;
  --midnight-teal: 0, 28, 38;
  --deep-navy-black: 0, 22, 27;
  --soft-seafoam-teal: 30, 54, 64;
  --muted-gold: 201, 154, 106;
  --anthracite-gray: 46, 46, 46;
  --off-white: 245, 245, 245;
}

body {
  @apply overflow-x-hidden;
}

svg {
  @apply inline-block w-6 h-6;
}

a {
  @apply hover:underline align-middle;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-base-1 rounded-lg hover:bg-overlay;
}
